.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(17, 24, 24);
  /* max-width: 1500px; */
  width: 100%; 
  margin: 0px;
}

.album-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    max-width: 250px;
    
    
} 

.artist-name {
  font-weight: normal;
  padding-top: 3px;
  /* padding-bottom: 10px;    */
  
}

.album-img {
  justify-content: space-evenly;
  margin: 0px;

}