* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: black;
  color: white; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100%; */
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black; 
  width: 100%; 
  margin: 0px;
  /*flex-direction: row*/;
}

header.header {
  /* padding-left: 2px; */
/* text-align: center; */
/* align-items: center; */
padding-left: 140px;

}


.album-cover {
  display: flex;
  flex-direction: column;
  height: 315px;
  width: 315px;
  z-index: 1;
  justify-content: center; 
}

.album-img {
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  

} 

.album-img:hover {filter: brightness(30%);}

.album-info a:hover {
  color: #fff;
  text-decoration: underline;
} 

.album-title {
  font-family: Helvetica;
  font-size: 14px;
  color: white;
  font-weight: bold;
  max-width: 300px;   
  padding-top: 5px;
  padding-left: 20px;
} 

.album-title a {
  color: #fff;
  text-decoration: none;
}

.artist-name {
  font-weight: normal;
  font-size: 14px;
  color: #a0a0a0;
  margin-bottom: 5px;
  padding-left: 20px;
}

 a { 
    color:  #a0a0a0; 
}

.artist-name a:hover {
  color: #fff;
  text-decoration: underline;
} 
/* ----- Media queries tablet ----- ***/


@media (min-width: 670px) {
  
  .album-img {
    margin-right: 10px;;
  }

  header .header {
    display: inline-block;
    padding-left: 5px;
  }

  .album-title {
    padding-left: 15px;
  }
  .artist-name {
    padding-left: 15px;
    
  }  
}

/* .img {
  width: 100%;
  } */ 