.album {
  color: aqua;
  margin: 10px;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(17, 24, 24);
  max-width: 1500px;
}

.album-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 300px;
    color: white;
    font-weight: bold;
} 

.artist-name {
  font-weight: normal;;
  

}
