.header {
    color: white;
    background-color: black;
    width: 100%;
    height: 40px;
    margin: 0;
} 

h3 {
    padding-left: 30px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: left;
    justify-content: center;
}


