.icons {
    height: 30px;
    justify-content: center;
    flex-direction: row;
    display: flex;
    /* transition: translate(71%, -30%); */
    
    /* transform: translate(71%, 50%); */

    /* display: inline-flex 
    position: absolute 
    */
}
 .icons:hover ~ .album-cover {
     filter: brightness(30%);
     background: rgba(0,0,0,0.5);
   
    /*.icons:hover~.album-img {*/
    /* align-self: center;
    justify-self: center;*/

}

.icon-heart {
    height: 35px;
    width: 35px;
    z-index: 3;
    align-self: center;
    opacity: 0.01;
}

.icon-heart:hover {
    /* filter: none; */
    opacity: 1.0; 
    /* position: -webkit-sticky; */
}

.icon-play {  
    height: 30px;
    width: 30px;
    margin-left: 35px;
    margin-right: 35px;
    align-self: center;
    z-index: 1;
    opacity: 0.01;
    filter: alpha(opacity=50);     
}

.icon-play:hover {
    height: 30px;
    width: 30px; 
    opacity: 1.0;
    filter: alpha(opacity=100); 
    transform: scale(1.8);
    /* transform: translateZ(60px); */
    transition: transform 0.5s ease-out;
    
} 

.icon-dots {
    height: 35px;
    width: 35px;
    z-index: 3;
    align-self: center;
    opacity: 0.01;
}

.icon-dots:hover {
    /* filter: none; */
    opacity: 1.0; 
    /* position: -webkit-sticky; */
}