.icons {
    width: 2px;
    height: 30px;
    text-decoration-color: yellow;
    z-index: 1;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-self: center;
    /* display: inline-block; */
    /* ev display: inline-flex */
}

.icon-heart {
    /* justify-content: flex-start;  */
    background-color: blueviolet;
}

.icon-play {
    /* justify-content: center; */
    background-color: blueviolet;
}

.icon-dots {
    /* margin-right: 7px; */
    /* justify-content: flex-end; */
    background-color: blueviolet;
}
